@page "/pages/confirm-booking"
@model Moonglade.Web.Pages.ConfirmBookingModel
@{
}
<h1>@Model.Title.Value</h1>

<div style="margin-top: 1em;">
    <image src="https://saschamanns.de/images/store/confirmation-success.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%" width="50%" alt="Success" />
</div>

<div style="margin-top:1em;">
    <p>@Model.Body.Value</p>
</div>